<div class="grid-container">
  <header class="header-fullscreen"></header>
  <header class="header">
    <h6 [routerLink]="['/task/all']">TASK APP</h6>
    <div class="box">
      <h6 [routerLink]="['/task/create']" class="header-logout">Create</h6>
      <h6 (click)="logout()" class="header-logout">Logout</h6>
      <img
        class="header-img rounded-circle"
        src="../../../assets/images/boy_16p.png"
        alt=""
      />
    </div>
  </header>
  <aside class="side-nav">
    <div class="m-top">
      <img
        class="img-responsive img-avatar
        img-fluid img-profile rounded-circle mx-auto mb-3"
        src="../../../assets/images/boy.png"
        alt=""
      />
      <div class="center">
        <h5 [routerLink]="['/task/all']" class="h5 ">TASKS</h5>
        <h5 [routerLink]="['/task/create']" class="h5 ">CREATE</h5>
        <h5 class="h5"><a (click)="logout()">LOGOUT</a></h5>
      </div>
    </div>
  </aside>
  <main class="main">
    <div class="main-overview">
      <div *ngFor="let name of length" class="overviewcard ">
        <div class="item item-0">
          <!-- <h6 class="item-0_notes ">Edit</h6> -->
          <img
            [routerLink]="['/task/5']"
            src="../../../assets/images/content.png"
            alt=""
          />

          <!-- <li class="tg-list-item">
            <input class="tgl tgl-ios" id="cb2" type="checkbox" />
            <label class="tgl-btn" for="cb2"></label>
          </li> -->
        </div>
        <div class="item item-1">
          <small class="ml-1 text-voilet">Title</small>
          <input
            type="text"
            class="form-control text-center mb-3"
            disabled
            value="Testing"
          />
          <small class="ml-1 text-voilet">Description</small>
          <textarea
            style="height: 100px; margin-top: 0px;"
            type="text"
            class="form-control"
            disabled
          >
Lorem ipsum dolor sit amet consectetur a</textarea
          >

          <!-- <p class="item-box">Gaming</p> -->
        </div>
        <div class="item item-2">
          <img
            class="item-2_border"
            src="../../../assets/images/bin.png"
            alt=""
          />
        </div>
        <!-- <input type="text" class="form-control" placeholder="Title" /> -->
        <!-- <img style="align-items: center;" src="../../../assets/images/boy.png" alt=""> -->
      </div>
      <!-- <div class="overviewcard"></div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div> -->
    </div>
  </main>
  <footer class="footer"></footer>
</div>
