<body>
  <!-- main -->
  <div class="main-w3layouts wrapper">
    <h1>Login</h1>
    <div class="main-agileinfo">
      <div class="error" *ngIf="errors">{{ errors.Error }}</div>
      <div class="agileits-top">
        <form #form="ngForm" (ngSubmit)="submit(form)">
          <input
            class="text email"
            ngModel
            #email="ngModel"
            type="email"
            name="email"
            placeholder="Email"
            required=""
          />
          <input
            class="text"
            type="password"
            name="password"
            ngModel
            #password="ngModel"
            placeholder="Password"
            required=""
          />

          <div class="wthree-text m-1">
            <label class="anim">
              <span>Forget Password ?</span>
            </label>
            <div class="clear"></div>
          </div>
          <input [disabled]="!form.valid" type="submit" value="LOGIN" />
        </form>
        <p>
          Don't have an Account?
          <a [routerLink]="['/register']"> Register Now</a>
        </p>
      </div>
    </div>
    <!-- copyright -->
    <!-- <div class="colorlibcopy-agile">
      <p>
        © 2018 Colorlib Signup Form. All rights reserved | Design by
        <a href="https://colorlib.com/" target="_blank">Colorlib</a>
      </p>
    </div> -->
    <!-- //copyright -->
  </div>
  <!-- //main -->
</body>
