img:hover {
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
  height: 100%;
}
.header {
  display: none;
  grid-area: header;
}
.header-fullscreen {
  grid-area: header;
  background-color: #0747a6;
}
.side-nav {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  background-color: #0747a6;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.main {
  grid-area: main;
  background-color: lightgrey;
}
.create-task-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  text-align: center;
  width: 25rem;
  margin-top: 7rem;
  border: 8px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 40px;
}

.overviewcard {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  width: 25%;
  /* height: auto; */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  /* background-color: gainsboro; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* .item {
    border: 2px solid rebeccapurple;
  } */
.item-0 {
  align-self: baseline;
}
.item-0_notes {
  font-size: 1rem;
  color: #007bff;
  font-weight: 700;
}
.item-0_notes:hover {
  cursor: pointer;
  color: #82bef6;
}
.item-1 {
  margin-top: 1.8em;
  /* align-self: baseline; */
}
small {
  font-weight: 700;
}
.item-2 {
  align-self: baseline;
}

.form-control {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 3px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.form-control:disabled {
  background-color: #fff;
}
form > input,
textarea {
  font-weight: unset;
}
input[type="submit"] {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #8381f8;
  color: white;
}
input[type="submit"]:hover{
  background-color: #0747a6;
}
.text-voilet {
  color: blueviolet;
}
.footer {
  grid-area: footer;
  background-color: gray;
}
.m-top {
  margin-top: 8em;
}
.img-avatar {
  display: block;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
.center {
  text-align: center;
  color: lightgrey;
}
.h5 {
  font-size: 1rem;
  font-weight: 600;
}
.h5:hover {
  cursor: pointer;
  color: #82bef6;
}
li {
  list-style-type: none;
  list-style: none;
}
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
  }
  .side-nav {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #0747a6;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .header-fullscreen {
    display: none;
  }
  .header > h6 {
    color: white;
    margin: 10px;
    padding: 2px;
    font-size: medium;
  }
  .header > h6:hover {
    cursor: pointer;
    color: #82bef6;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
  }
  .box {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .header-img {
    border: 2px solid ghostwhite;
  }
  .header-logout {
    font-size: 1rem;
    margin-right: inherit;
    margin-top: inherit;
    margin-left: inherit;
    color: whitesmoke;
  }
  .header-logout:hover {
    cursor: pointer;
    color: #82bef6;
  }
  /* .card {
    margin-left: 10px;
    margin-right: 10px;
  } */
}
@media (max-width: 420px) {
  .card {
    width: 20em;
    margin-left: 10px;
    margin-right: 10px;
  }
}
