<div class="grid-container">
  <header class="header-fullscreen"></header>
  <header class="header">
    <h6 [routerLink]="['/task/all']">TASK APP</h6>
    <div class="box">
      <h6 [routerLink]="['/task/create']" class="header-logout">Create</h6>
      <h6 class="header-logout"><a (Click)="logout()">Logout</a></h6>
      <img
        class="header-img rounded-circle"
        src="../../../assets/images/boy_16p.png"
        alt=""
      />
    </div>
  </header>
  <aside class="side-nav">
    <div class="m-top">
      <img
        class="img-responsive img-avatar
        img-fluid img-profile rounded-circle mx-auto mb-3"
        src="../../../assets/images/boy.png"
        alt=""
      />
      <div class="center">
        <h5 [routerLink]="['/task/all']" class="h5 ">TASKS</h5>
        <h5 [routerLink]="['/task/create']" class="h5 ">CREATE</h5>
        <h5 class="h5">LOGOUT</h5>
      </div>
    </div>
  </aside>
  <main class="main">
    <div class="create-task-box">
      <div class="card" style="min-width:15rem;">
        <div class="card-body">
          <h4 style="color: #8381F8" class="card-title text-center">Create</h4>
          <form>
            <input
              type="text"
              for="title"
              class="form-control mb-2"
              placeholder="Title"
            />
            <textarea
              type="text"
              class="form-control mb-3"
              placeholder="Description"
            ></textarea>
            <input type="submit" class="btn btn-small " />
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="main-overview">
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
    </div> -->
  </main>
  <footer class="footer"></footer>
</div>
