@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../../../assets/fonts/Roboto-Lightd41d.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../../../assets/fonts/Roboto-Light.woff") format("woff"),
    url("../../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../../../assets/fonts/Roboto-Regulard41d.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../../../assets/fonts/Roboto-Mediumd41d.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../assets/fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../../../assets/fonts/Roboto-Boldd41d.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../../assets/fonts/Roboto-Bold.woff") format("woff"),
    url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body,
h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: #253992;
  font-weight: 100;
  font-size: 2.8em;
}
p {
  font-weight: 100;
  color: grey;
  line-height: 1.8em;
}
.grid {
  font-family: "Roboto";
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
}
.left {
  background-image: url("../../../assets/images/ath-gfx.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1/2;
  grid-row: 1/-1;
}
.right {
  background-image: url("../../../assets/images/smartphone.png"),
    url("../../../assets/images/ath-gfx.png");
  background-repeat: no-repeat no-repeat;
  background-position: center;
  grid-column: 2/4;
  grid-row: 1/-1;
  background-color: #0747a6;
}
.padding {
  margin-top: 8em;
  margin-left: 3em;
  margin-right: 1.5em;
}
input {
  border-radius: 20px;
  margin-bottom: 18px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.placehold {
  font-weight: 100;
  font-size: 13px;
  padding-left: 12px;
  color: grey;
}
.btn-primary {
  font-weight: 100;
  font-size: 13px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.right-item {
  font-weight: 500;
  font-size: 15px;
  text-align: right;
  color: #253992;
}
.right-item:hover {
  cursor: pointer;
  color: purple;
}
.under {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.over {
  position: absolute;
  left: 40px;
  top: 10px;
  z-index: -1;
}
@media (max-width: 670px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .right {
    display: none;
  }
  .center {
    text-align: center;
  }
  .padding {
    margin-top: 8em;
    margin-left: 20px;
    margin-right: 20px;
  }
  .header {
    margin-left: 4rem;
  }
}
